Package: ax25systemd
Version: 1.1
Section: hamradio
Priority: optional
Maintainer: Celestine Gramaize <celestine+dev@gramaize.eu>
Homepage: https://github.com/dscp46/ax25systemd
Architecture: all
Depends: bash (>= 5.0), ax25-tools
Description: AX.25 interface management for Systemd
 Packaged for easy installation on Debian systems.

